node-red/examples/oscar-plants-classification-example.json
[
    {
        "id": "b76fb1c67963a7e4",
        "type": "sf:6924aa569048864e",
        "z": "42ad638c54c325bf",
        "name": "",
        "Server": "https://inference.cloud.ai4eosc.eu",
        "Service Name": "plant-classification-tensorflow",
        "Token": "",
        "credentials": {
            "Token": ""
        },
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "ba0213a2aef7e98c"
            ],
            []
        ]
    },
    {
        "id": "ba0213a2aef7e98c",
        "type": "debug",
        "z": "42ad638c54c325bf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 240,
        "wires": []
    },
    {
        "id": "76ee7e77d764072a",
        "type": "inject",
        "z": "42ad638c54c325bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "40e2fe83df3d513e"
            ]
        ]
    },
    {
        "id": "68d609b61004b9bd",
        "type": "image",
        "z": "42ad638c54c325bf",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "40e2fe83df3d513e",
        "type": "http request",
        "z": "42ad638c54c325bf",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "body",
        "url": "https://upload.wikimedia.org/wikipedia/commons/b/bc/T_albidum01.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 810,
        "y": 240,
        "wires": [
            [
                "68d609b61004b9bd",
                "b76fb1c67963a7e4"
            ]
        ]
    }
]