node-red/subflows/oscar_plants/plants.json
[
    {
        "id": "e77f046693d07b72",
        "type": "subflow",
        "name": "OSCAR Plants Services",
        "info": " \n<main>\n    <section>\n        <article>\n            <h3>About Plants </h3>\n            <p>Classify plant images among 10K species from the iNaturalist dataset.</p>\n            <ul>\n                <li>\n                    <a rel=\"stylesheet\" href=\"https://marketplace.deep-hybrid-datacloud.eu/modules/deep-oc-plants-classification-tf.html\">Plants species classifier</a>\n                </li>\n            </ul>\n        </article>\n        <article>\n            <h3>About Plants Service in OSCAR</h3>\n            <p>This example uses the pre-trained classification model by DEEP-Hybrid-DataCloud Plants species classifier and is prepared to be used with synchronous invocations.</p>\n            <p>For more information consult:</p>\n            <ul>\n                <li>\n                    <a rel=\"stylesheet\" href=\"https://github.com/grycap/oscar/tree/master/examples/plant-classification-sync\">Plants Service </a>\n                </li>\n            </ul>\n        </article>\n        <article>\n            <h3>Inputs</h3>\n            <p>The input variables will be the basic variables (OSCAR server url and credentials). In addition to the name that has been given to the plants service on the server. Inside the input <code> msg.payload </code> must be the text to write. With all these elements, the service token is searched and then a request is made to the service ( POST /run/{serviceName}).</p>\n            <ul>\n                <li>\n                    <a rel=\"stylesheet\" href=\"https://docs.oscar.grycap.net/api/\">Syns </a>\n                </li>\n                </ul>\n        </article>\n        <article>\n            <h3>Outputs</h3>\n            <p> The node returns through <code>msg.payload</code> plant classification image using Lasagne/Theano (base64), which can be used in image display nodes such as images preview node.</p>\n        </article>\n    </section>\n</main>\n<footer>\n    GRyCAP (Grupo de Grid y Computación de Altas Prestaciones) - UPV\n</footer>\n ",
        "category": "OSCAR",
        "in": [
            {
                "x": 20,
                "y": 140,
                "wires": [
                    {
                        "id": "533c151ac5429d6c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1460,
                "y": 200,
                "wires": [
                    {
                        "id": "2e5b24cdbe85ce1e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 280,
                "wires": [
                    {
                        "id": "20c897150805aff2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Server",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-globe"
                }
            },
            {
                "name": "Service Name",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-pencil"
                }
            },
            {
                "name": "Token",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-key"
                }
            }
        ],
        "meta": {
            "module": "node-red-contrib-oscar-plants",
            "type": "oscar",
            "version": "1.0.0",
            "author": "Vicente Rodriguez <vicente.rdguezb@gmail.com, vrodben1@i3m.upv.es>",
            "desc": "Servicio Plants Clasification",
            "keywords": "node-red, oscar, plants",
            "license": "Apache-2.0"
        },
        "credentials": {
            "Token": ""
        },
        "color": "#3FADB5",
        "outputLabels": [
            "Output image (base64)",
            "Output data (complete json)"
        ],
        "icon": "font-awesome/fa-image",
        "status": {
            "x": 1480,
            "y": 40,
            "wires": [
                {
                    "id": "e7fd426fff22a566",
                    "port": 0
                },
                {
                    "id": "b13157aae65e891c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "63e5bfec4147dea9",
        "type": "http request",
        "z": "e77f046693d07b72",
        "name": "Plant Services Run",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "20c897150805aff2"
            ]
        ]
    },
    {
        "id": "b8426e521da9300d",
        "type": "base64",
        "z": "e77f046693d07b72",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "63e5bfec4147dea9"
            ]
        ]
    },
    {
        "id": "20c897150805aff2",
        "type": "string",
        "z": "e77f046693d07b72",
        "name": "Get Result",
        "methods": [
            {
                "name": "delLeftMost",
                "params": [
                    {
                        "type": "str",
                        "value": "response"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 870,
        "y": 200,
        "wires": [
            [
                "bd2b4c56996cfe98"
            ]
        ]
    },
    {
        "id": "533c151ac5429d6c",
        "type": "change",
        "z": "e77f046693d07b72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscar_server",
                "pt": "msg",
                "to": "Server",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "Token",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "plants",
                "pt": "msg",
                "to": "Service Name",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "e7fd426fff22a566",
                "01530c44b591b9ac"
            ]
        ]
    },
    {
        "id": "01530c44b591b9ac",
        "type": "function",
        "z": "e77f046693d07b72",
        "name": "Send plants-token",
        "func": "\nvar token_plants = msg.token;\n\n\nmsg.headers = {\n    Authorization: \"Bearer \" + token_plants\n}\n\nmsg.payload = msg.image;\nmsg.url = msg.oscar_server+\"/run/\"+msg.plants;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b8426e521da9300d"
            ]
        ]
    },
    {
        "id": "bd2b4c56996cfe98",
        "type": "base64",
        "z": "e77f046693d07b72",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "2e5b24cdbe85ce1e"
            ]
        ]
    },
    {
        "id": "e7fd426fff22a566",
        "type": "change",
        "z": "e77f046693d07b72",
        "name": "Start Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Processing....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b13157aae65e891c",
        "type": "change",
        "z": "e77f046693d07b72",
        "name": "End Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Finished....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2e5b24cdbe85ce1e",
        "type": "change",
        "z": "e77f046693d07b72",
        "name": "Clear Data",
        "rules": [
            {
                "t": "set",
                "p": "pass",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oscar_server",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "plants",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 200,
        "wires": [
            [
                "b13157aae65e891c"
            ]
        ]
    },
    {
        "id": "71a99ee53b843d37",
        "type": "subflow:e77f046693d07b72",
        "z": "bd14ffd45ed2e89c",
        "name": "",
        "env": [
            {
                "name": "Server",
                "value": "https://inference.cloud.ai4eosc.eu",
                "type": "str"
            },
            {
                "name": "Service Name",
                "value": "plant-classification",
                "type": "str"
            },
            {
                "name": "Token",
                "type": "cred"
            },
            {
                "name": "Password",
                "type": "cred"
            }
        ],
        "x": 910,
        "y": 480,
        "wires": [
            [
                "b41f6d145436180a"
            ],
            []
        ]
    }
]