node-red/examples/example_invoke_async/workflow_invoke_async.json
[
    {
        "id": "0ae4dad0160db5b8",
        "type": "subflow",
        "name": "Run counter",
        "info": "",
        "category": "Join Activities",
        "in": [
            {
                "x": 300,
                "y": 228,
                "wires": [
                    {
                        "id": "836c41e83c9caccf"
                    },
                    {
                        "id": "67dc4bc23fb3a9f1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 927,
                "y": 218,
                "wires": [
                    {
                        "id": "7581f08912dedf73",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Run time",
            "license": "Apache-2.0"
        },
        "color": "#87A980",
        "inputLabels": [
            "Activities"
        ],
        "outputLabels": [
            "Time counter"
        ],
        "icon": "node-red/timer.svg",
        "status": {
            "x": 859,
            "y": 367,
            "wires": [
                {
                    "id": "836c41e83c9caccf",
                    "port": 0
                },
                {
                    "id": "664de96c65e5e40f",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "7581f08912dedf73",
        "type": "function",
        "z": "0ae4dad0160db5b8",
        "name": "function 16",
        "func": "var var1 = context.get(\"cont\");\nif (var1== 1)\n{\n    context.set(\"cont\", 2);\n}\nelse {\n    context.set(\"cont\", 1);\n    msg.payload = msg.payload ;\n    return [msg, msg]\n    \n}\n \n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"cont\", 1);\ncontext.set(\"start\",0);",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 222,
        "wires": [
            [],
            [
                "664de96c65e5e40f"
            ]
        ]
    },
    {
        "id": "836c41e83c9caccf",
        "type": "change",
        "z": "0ae4dad0160db5b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running time counter ......",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 598,
        "y": 365,
        "wires": [
            []
        ]
    },
    {
        "id": "664de96c65e5e40f",
        "type": "function",
        "z": "0ae4dad0160db5b8",
        "name": "function 17",
        "func": "\nvar time = msg.payload ;\nmsg.payload= String(time)+ \" ms\";\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 306,
        "wires": [
            []
        ]
    },
    {
        "id": "67dc4bc23fb3a9f1",
        "type": "time_interval",
        "z": "0ae4dad0160db5b8",
        "name": "",
        "x": 511,
        "y": 218,
        "wires": [
            [
                "7581f08912dedf73"
            ]
        ]
    },
    {
        "id": "12c6977770c0e42b",
        "type": "tab",
        "label": "Workflows OSCAR Async ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f04f713cfead841b",
        "type": "inject",
        "z": "12c6977770c0e42b",
        "name": "",
        "props": [
            {
                "p": "username",
                "v": "oscar",
                "vt": "str"
            },
            {
                "p": "pass",
                "v": "oscar123",
                "vt": "str"
            },
            {
                "p": "oscar_server",
                "v": "https://nervous-brahmagupta6.im.grycap.net",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 158,
        "y": 111,
        "wires": [
            [
                "1a11a3793f9ac963",
                "b5967c4ed0241032"
            ]
        ]
    },
    {
        "id": "c37e7e29c6a9efca",
        "type": "objects",
        "z": "12c6977770c0e42b",
        "objects_name": "",
        "host": "9c1ee22dc362517e",
        "objects_operation": "putObject",
        "objects_bucket": "plants",
        "objects_object": "in/imagen_44.jpg",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "in/imagen1.jpg",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 713.7778167724609,
        "y": 111.99993801116943,
        "wires": [
            [
                "11a5c12191919717"
            ],
            [
                "11a5c12191919717"
            ]
        ]
    },
    {
        "id": "11a5c12191919717",
        "type": "debug",
        "z": "12c6977770c0e42b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1012.6666984558105,
        "y": 76.11098957061768,
        "wires": []
    },
    {
        "id": "1a11a3793f9ac963",
        "type": "http request",
        "z": "12c6977770c0e42b",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/grycap/oscar/master/examples/plant-classification-theano/test-images/image1.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 315.77781677246094,
        "y": 110.99993801116943,
        "wires": [
            [
                "9acfc1d0983c3bcb"
            ]
        ]
    },
    {
        "id": "9acfc1d0983c3bcb",
        "type": "change",
        "z": "12c6977770c0e42b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stream",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 499.77781677246094,
        "y": 108.99993801116943,
        "wires": [
            [
                "c37e7e29c6a9efca"
            ]
        ]
    },
    {
        "id": "9c6ec5ae52873999",
        "type": "debug",
        "z": "12c6977770c0e42b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 692.8889007568359,
        "y": 235.5554780960083,
        "wires": []
    },
    {
        "id": "e9b2a4e5c3c22a85",
        "type": "notifications",
        "z": "12c6977770c0e42b",
        "notifications_name": "",
        "host": "9c1ee22dc362517e",
        "notifications_operation": "listenBucketNotification",
        "notifications_bucket": "plants",
        "notifications_notificationconfig": "",
        "notifications_prefix": "",
        "notifications_suffix": "",
        "notifications_events": "",
        "notifications_events_object_created_put": true,
        "notifications_events_object_created_post": false,
        "notifications_events_object_created_copy": false,
        "notifications_events_object_created_complete_multipart_upload": false,
        "notifications_events_object_removed_delete": false,
        "notifications_events_object_accessed_get": false,
        "notifications_events_object_accessed_head": false,
        "x": 364.4444580078125,
        "y": 292.66656494140625,
        "wires": [
            [
                "9c6ec5ae52873999",
                "15745f2db8c2912b"
            ],
            []
        ]
    },
    {
        "id": "15745f2db8c2912b",
        "type": "function",
        "z": "12c6977770c0e42b",
        "name": "object listen",
        "func": "var Data=msg.payload\nmsg.objectName = Data.listenBucketNotification.s3.object.key;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 619.6666679382324,
        "y": 299.44433307647705,
        "wires": [
            [
                "93b481b77b462447",
                "ac8fe2f3c4970645"
            ]
        ]
    },
    {
        "id": "93b481b77b462447",
        "type": "debug",
        "z": "12c6977770c0e42b",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 827.8889198303223,
        "y": 299.3332095146179,
        "wires": []
    },
    {
        "id": "ac8fe2f3c4970645",
        "type": "objects",
        "z": "12c6977770c0e42b",
        "objects_name": "",
        "host": "9c1ee22dc362517e",
        "objects_operation": "getObject",
        "objects_bucket": "plants",
        "objects_object": "",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 252.77781677246094,
        "y": 524.9999380111694,
        "wires": [
            [
                "6630690f79516a6f"
            ],
            []
        ]
    },
    {
        "id": "887f4f4037dbd428",
        "type": "debug",
        "z": "12c6977770c0e42b",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 894.0000190734863,
        "y": 511.2221155166626,
        "wires": []
    },
    {
        "id": "6630690f79516a6f",
        "type": "json",
        "z": "12c6977770c0e42b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 453.77781677246094,
        "y": 520.9999380111694,
        "wires": [
            [
                "c4ed9ecf7f64f739"
            ]
        ]
    },
    {
        "id": "c4ed9ecf7f64f739",
        "type": "function",
        "z": "12c6977770c0e42b",
        "name": "object data",
        "func": "var Data=msg.payload\nmsg.payload=Data.objectData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 651.7778167724609,
        "y": 520.9999380111694,
        "wires": [
            [
                "887f4f4037dbd428",
                "5ca8954b6dade4a7",
                "b5967c4ed0241032"
            ]
        ]
    },
    {
        "id": "5ca8954b6dade4a7",
        "type": "image",
        "z": "12c6977770c0e42b",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 904.8888778686523,
        "y": 560.9999914169312,
        "wires": []
    },
    {
        "id": "95c48052cbfe10a0",
        "type": "comment",
        "z": "12c6977770c0e42b",
        "name": "Put on MinIO",
        "info": "",
        "x": 338.4444834391277,
        "y": 45.44438245561389,
        "wires": []
    },
    {
        "id": "eea033468d78e94f",
        "type": "comment",
        "z": "12c6977770c0e42b",
        "name": "Get on MinIO",
        "info": "",
        "x": 476.2223663330078,
        "y": 475.4444627761841,
        "wires": []
    },
    {
        "id": "fe187c9e859eede5",
        "type": "comment",
        "z": "12c6977770c0e42b",
        "name": "notification on MinIO",
        "info": "",
        "x": 420.55560302734375,
        "y": 251.33334350585938,
        "wires": []
    },
    {
        "id": "b5967c4ed0241032",
        "type": "subflow:0ae4dad0160db5b8",
        "z": "12c6977770c0e42b",
        "name": "",
        "x": 616.6666870117188,
        "y": 691.1111450195312,
        "wires": [
            []
        ]
    },
    {
        "id": "012af6d7fbfccee7",
        "type": "inject",
        "z": "12c6977770c0e42b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 136,
        "y": 293,
        "wires": [
            [
                "e9b2a4e5c3c22a85"
            ]
        ]
    },
    {
        "id": "9c1ee22dc362517e",
        "type": "minio-config",
        "name": "MinIO-OSCAR",
        "host": "minio.nervous-brahmagupta6.im.grycap.net",
        "port": "443",
        "useSsl": true
    }
]