node-red/flows/oscar_plant_sync_services/flows.json
[
    {
        "id": "b0a973f02d92e4e6",
        "type": "subflow",
        "name": "OSCAR Plant Syns Services",
        "info": "",
        "category": "OSCAR",
        "in": [
            {
                "x": 40,
                "y": 200,
                "wires": [
                    {
                        "id": "8c3ffd071558df38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1918.3335494995117,
                "y": 256.66667556762695,
                "wires": [
                    {
                        "id": "7eb50be343a14da3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1300,
                "y": 400,
                "wires": [
                    {
                        "id": "9866d86cc0748e63",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Server",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-globe"
                }
            },
            {
                "name": "Service Name",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-pencil"
                }
            },
            {
                "name": "User",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-user-circle-o"
                }
            },
            {
                "name": "Password",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "type": "input",
                    "opts": {
                        "types": [
                            "cred"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "version": "0.0.1",
            "keywords": "OSCAR, Plants, Syns",
            "license": "Apache-2.0"
        },
        "color": "#3FADB5",
        "inputLabels": [
            "Images"
        ],
        "outputLabels": [
            "Output data (labels-probabilities)",
            "Output data (complete json)"
        ],
        "icon": "font-awesome/fa-picture-o",
        "status": {
            "x": 1576.6665477752686,
            "y": 99.99999618530273,
            "wires": [
                {
                    "id": "29874f0eab9ef9a0",
                    "port": 0
                },
                {
                    "id": "7fac9661d252408b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "8c3ffd071558df38",
        "type": "change",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscar_server",
                "pt": "msg",
                "to": "Server",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "User",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "pass",
                "pt": "msg",
                "to": "Password",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "plants_syns",
                "pt": "msg",
                "to": "Service Name",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "923eba5abdde6702",
                "7fac9661d252408b"
            ]
        ]
    },
    {
        "id": "923eba5abdde6702",
        "type": "function",
        "z": "b0a973f02d92e4e6",
        "name": "Load Log",
        "func": "msg.payload={\n\"username\":msg.username,\n\"password\":msg.pass\n\n}\nmsg.url = msg.oscar_server +\"/system/services/\"+msg.plants_syns ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 385,
        "y": 199.9999885559082,
        "wires": [
            [
                "2533fa61995728b2"
            ]
        ]
    },
    {
        "id": "7fac9661d252408b",
        "type": "change",
        "z": "b0a973f02d92e4e6",
        "name": "Start Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Processing....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "20992b95994a262d",
        "type": "function",
        "z": "b0a973f02d92e4e6",
        "name": "Send plants-token",
        "func": "\nvar token_plants_syns = msg.token_plants_syns;\n\n\nmsg.headers = {\n    Authorization: \"Bearer \" + token_plants_syns\n }\n\nmsg.payload = msg.image;\nmsg.url = msg.oscar_server+\"/run/\"+msg.plants_syns;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "ecafe2e134fc7978"
            ]
        ]
    },
    {
        "id": "ecafe2e134fc7978",
        "type": "base64",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "fb8f79944a9152e5"
            ]
        ]
    },
    {
        "id": "2533fa61995728b2",
        "type": "change",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": 'Basic ' & $base64encode(\t       payload.username & ':' & payload.password\t   ) \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 553.333251953125,
        "y": 203.3333225250244,
        "wires": [
            [
                "d9c283196efd7fb2"
            ]
        ]
    },
    {
        "id": "d9c283196efd7fb2",
        "type": "http request",
        "z": "b0a973f02d92e4e6",
        "name": "plants syns service",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "basic",
        "senderr": true,
        "headers": [],
        "x": 748.333251953125,
        "y": 204.99997901916504,
        "wires": [
            [
                "23939f9809ed8cae"
            ]
        ]
    },
    {
        "id": "fb8f79944a9152e5",
        "type": "http request",
        "z": "b0a973f02d92e4e6",
        "name": "Plant Syns Services Run",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "9866d86cc0748e63"
            ]
        ]
    },
    {
        "id": "23939f9809ed8cae",
        "type": "string",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "\"token\":\""
                    },
                    {
                        "type": "str",
                        "value": "\",\"input\""
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 910.0000305175781,
        "y": 204.99997854232788,
        "wires": [
            [
                "331f361809c7a213"
            ]
        ]
    },
    {
        "id": "331f361809c7a213",
        "type": "function",
        "z": "b0a973f02d92e4e6",
        "name": "Get Token-Plants_Syns",
        "func": "var  var1 = msg.payload;\n\nmsg.token_plants_syns= var1;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n//flow.set(\"token_cowsay\",\"\");\n",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 204.9999885559082,
        "wires": [
            [
                "20992b95994a262d"
            ]
        ]
    },
    {
        "id": "9866d86cc0748e63",
        "type": "base64",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "498efa04b72ed8fe"
            ]
        ]
    },
    {
        "id": "498efa04b72ed8fe",
        "type": "change",
        "z": "b0a973f02d92e4e6",
        "name": "Clear Data",
        "rules": [
            {
                "t": "delete",
                "p": "pass",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "username",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "oscar_server",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "plants_syns",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "image",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "token_plants_syns",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "filename",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.666660308838,
        "y": 264.99999046325684,
        "wires": [
            [
                "29874f0eab9ef9a0",
                "3ee3723af5b94618",
                "ad0fb4a53f9f3f90"
            ]
        ]
    },
    {
        "id": "29874f0eab9ef9a0",
        "type": "change",
        "z": "b0a973f02d92e4e6",
        "name": "End Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Finished....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1423.3333358764648,
        "y": 158.33332061767578,
        "wires": [
            []
        ]
    },
    {
        "id": "3ee3723af5b94618",
        "type": "string",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "'labels': ["
                    },
                    {
                        "type": "str",
                        "value": "], 'probabilities'"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "789c1fa5f66afdaa"
            ]
        ]
    },
    {
        "id": "ad0fb4a53f9f3f90",
        "type": "string",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "'probabilities': ["
                    },
                    {
                        "type": "str",
                        "value": "], 'labels_info':"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 1370,
        "y": 300,
        "wires": [
            [
                "6ca8979240e77b8f"
            ]
        ]
    },
    {
        "id": "789c1fa5f66afdaa",
        "type": "function",
        "z": "b0a973f02d92e4e6",
        "name": "Labels",
        "func": "\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1], c = array[2], d = array[3], e = array[4];\nmsg.labels=[];\n\nmsg.labels[0] = a;\nmsg.labels[1] = b;\nmsg.labels[2] = c;\nmsg.labels[3] = d;\nmsg.labels[4] = e;\nmsg.topic=\"labels\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nglobal.set(\"end1\", 0);",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 240,
        "wires": [
            [
                "7eb50be343a14da3"
            ]
        ]
    },
    {
        "id": "6ca8979240e77b8f",
        "type": "function",
        "z": "b0a973f02d92e4e6",
        "name": "Probabilities",
        "func": "\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1], c = array[2], d = array[3], e = array[4];\n\nmsg.probabilities=[];\nmsg.probabilities[0] = parseFloat(a);\nmsg.probabilities[1] = parseFloat(b);\nmsg.probabilities[2] = parseFloat(c);\nmsg.probabilities[3] = parseFloat(d);\nmsg.probabilities[4] = parseFloat(e);\nmsg.topic = \"probabilities\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"end2\", 0);",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "7eb50be343a14da3"
            ]
        ]
    },
    {
        "id": "7eb50be343a14da3",
        "type": "join",
        "z": "b0a973f02d92e4e6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1701.6665115356445,
        "y": 256.6666450500488,
        "wires": [
            []
        ]
    }
]