node-red/subflows/oscar_yolov8/yolov8.json
[
    {
        "id": "d0694fda340e5e68",
        "type": "function",
        "z": "12538e869520378f",
        "name": "Send Yolo Token",
        "func": "\nvar token = msg.token;\n\n\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\n\nmsg.payload = msg.image;\nmsg.url = msg.oscar_server + \"/run/\" + msg.yolo;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "5641a1807df4c708"
            ]
        ]
    },
    {
        "id": "5641a1807df4c708",
        "type": "base64",
        "z": "12538e869520378f",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "18b84ad67ad56014"
            ]
        ]
    },
    {
        "id": "18b84ad67ad56014",
        "type": "http request",
        "z": "12538e869520378f",
        "name": "YOLO Services Run",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "03aa7b22523be219"
            ]
        ]
    },
    {
        "id": "03aa7b22523be219",
        "type": "string",
        "z": "12538e869520378f",
        "name": "",
        "methods": [
            {
                "name": "delLeftMost",
                "params": [
                    {
                        "type": "str",
                        "value": "response"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "47d584fbcfd73cf4"
            ]
        ]
    },
    {
        "id": "47d584fbcfd73cf4",
        "type": "base64",
        "z": "12538e869520378f",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1100,
        "y": 180,
        "wires": [
            [
                "251fab8977ee6fc1"
            ]
        ]
    },
    {
        "id": "251fab8977ee6fc1",
        "type": "change",
        "z": "12538e869520378f",
        "name": "Clear Data",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oscar_server",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "yolo",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "863fce744776318f"
            ]
        ]
    },
    {
        "id": "8d557b6d9ec2cdf1",
        "type": "change",
        "z": "12538e869520378f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscar_server",
                "pt": "msg",
                "to": "Server",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "Token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "yolo",
                "pt": "msg",
                "to": "Service Name",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "d0694fda340e5e68",
                "2512cc5b69f017d9"
            ]
        ]
    },
    {
        "id": "2512cc5b69f017d9",
        "type": "change",
        "z": "12538e869520378f",
        "name": "Start Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Processing....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "863fce744776318f",
        "type": "change",
        "z": "12538e869520378f",
        "name": "End Service",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Finished!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 120,
        "wires": [
            []
        ]
    }
]